@import 'colors';

%text-field {
    outline: none;
    border: none;
    border-bottom-color: $color-selected-light;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-left-radius: 2pt;
}

%submit-button {
    cursor: pointer;
    height: 5%;
    width: 40%;
    margin: 10px auto;
    transition: all .2s;
    text-align: center;
    border: none;
    color: black;
    display: block;
}
