@import 'colors';
@import 'extensions';

#target-form {
    display:grid;
    background:$color-secondary-light;
    width:100%;
    height:100%;
    grid-template-columns: 20% 60% 20%;


    small {
        display:block;
        margin-left:5px;
    }
}

.inputs {
    display: block;
    margin: 2em;
    width:90%;

    label {
        @extend %text-field;
        display:block;
        width:45%;
     }

     .description {
         padding: 0 auto;
         white-space: pre-wrap;
         height: 20em;
         overflow-y:auto;
         border-color: $color-selected-light;
         border-style: solid;
         border-width: medium;
         border-radius: 2pt;
         background: $color-secondary-light;
     }
}

.edit-button {
    @extend %submit-button;
    background: $color-primary-light;
    width: 90% !important;
    height: 5% !important;
    margin:1em;
    transition: all .2s ease-in-out;
}

.add-button {
    @extend %submit-button;
    width:20% !important;
    border-top:solid !important;
    border-top-style: thin !important;
    border-top-color:$color-selected-light !important;
    height: 5% !important;
    background: $color-secondary-light;
    position:fixed;
    bottom:0;
    right:0;
    margin:0 !important;

    span {
        width: 30%;
        display:inline-block;
        height:30%;
        margin:0 1%;

        svg {
            width: 20%;
        }
    }
}

.edit-button:hover {
    background: whitesmoke;
    color: $color-accent;
    bottom:0;
}

.add-button:hover {
    border:none !important;
    color: $color-accent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.01);
}

#text-inputs {
    grid-column: 3;
    background: $color-secondary-light;
    width:20vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#target-form-container {
    grid-column: 1/4;
    grid-row: 2/4;
}