@import 'colors';
@import 'fonts';
@import 'target-list-view';
@import 'nav';
@import 'search-bar';
@import 'target-form';
@import 'new-target-view';
@import 'options-flyout';


body {
    overflow-y:hidden;
}
p {
   @extend %reg-font;
}

#header {
    height: 15%;
    position: absolute;
    top: 0;
    bottom:0;
    right:0;
    width: 20vw;

    #title {
       
        position: absolute;
        left: 0;
    }

    #user {
        right: 0;
        position: absolute;
    }

    .header-item {
        display: inline-block;
        font-size: 4vh;
        margin: 1vh;
    }
}

.header-light {
    background: $color-secondary-light;
}

#content {
    position:absolute;
    display:grid;
    grid-template-columns:20vw 30vw  auto 1px;
    grid-template-rows: 20vh auto 1px;
    width:100%;
    height:100%;
}

