@import 'colors';
@import 'fonts';
@import 'target-list-view';
@import 'nav';
@import 'search-bar';
@import 'target-form';
@import 'new-target-view';
@import 'options-flyout';
@import 'high-priority-view';


body {
    overflow:hidden;
}
p {
   @extend %reg-font;
}

#header {
    grid-row: 1;
    grid-column: 1/4;
    background: $color-dark;
    color:white;
}

#content {
    position:absolute;
    display:grid;
    grid-template-columns:20vw 30vw  auto 1px;
    grid-template-rows: 3vh auto 1px;
    width:100%;
    height:100%;
}

