@import url("https://use.typekit.net/vlu7djv.css");


%reg-font {
     font-family: gibbs, sans-serif;
     font-weight: 300;
     font-style: normal;
 }

%semi-bold {
     font-family: forma-djr-display, sans-serif;
     font-weight: 500;
     font-style: normal;
 }