@import url("https://use.typekit.net/vlu7djv.css");
p {
  font-family: gibbs, sans-serif;
  font-weight: 300;
  font-style: normal;
}

#targets-container {
  width: 99%;
  grid-column: 2/3;
  text-align: center;
  text-align: -webkit-center;
  height: 100%;
  overflow-y: auto;
  transition: all 0.2s;
}
#targets-container .table {
  border-collapse: collapse;
}
#targets-container .table tr {
  transition: background 0.1s ease-in-out;
}
#targets-container .table tr:not(.table-header) {
  background: #fff;
}
#targets-container .table tr:not(.table-header):hover {
  background: #e6e6e6;
  cursor: pointer;
}
#targets-container .table-header td {
  background: #f2f2f2;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-top: none;
}

::-webkit-scrollbar {
  width: 3%;
  margin-left: 5px;
}

::-webkit-scrollbar-track {
  background: none;
  margin-left: 5px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  -webkit-border-radius: 5pt;
  -ms-border-radius: 5pt;
  border-radius: 5pt;
  padding: 5px;
}

.menu {
  width: 25%;
  height: auto;
}

.menu-dot {
  background: grey;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  border: none;
  margin: 2px;
}

#nav {
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
}

.nav-light {
  background: #f2f2f2;
}

.new-target-input, .inputs label, #search {
  outline: none;
  border: none;
  border-bottom-color: #e6e6e6;
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-left-radius: 2pt;
}

.action-button, .add-button, .edit-button {
  cursor: pointer;
  height: 5%;
  width: 40%;
  margin: 10px auto;
  transition: all 0.2s;
  text-align: center;
  border: none;
  color: black;
  display: block;
}

#search {
  margin: 5%;
  background: none !important;
}

.new-target-input, .inputs label, #search {
  outline: none;
  border: none;
  border-bottom-color: #e6e6e6;
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-left-radius: 2pt;
}

.action-button, .add-button, .edit-button {
  cursor: pointer;
  height: 5%;
  width: 40%;
  margin: 10px auto;
  transition: all 0.2s;
  text-align: center;
  border: none;
  color: black;
  display: block;
}

#target-form {
  display: grid;
  background: #f2f2f2;
  width: 100%;
  height: 100%;
  grid-template-columns: 20% 60% 20%;
}
#target-form small {
  display: block;
  margin-left: 5px;
}

.inputs {
  display: block;
  margin: 2em;
  width: 90%;
}
.inputs label {
  display: block;
  width: 45%;
}
.inputs .description {
  padding: 0 auto;
  white-space: pre-wrap;
  height: 20em;
  overflow-y: auto;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: medium;
  border-radius: 2pt;
  background: #f2f2f2;
}

.add-button, .edit-button {
  background: #fff;
  width: 90% !important;
  height: 5% !important;
  margin: 1em;
  transition: all 0.2s ease-in-out;
}

.add-button:hover, .edit-button:hover {
  background: whitesmoke;
  color: #44acff;
}

#text-inputs {
  grid-column: 3;
  background: #f2f2f2;
  width: 20vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#target-form-container {
  grid-column: 1/4;
  grid-row: 2/4;
}

.new-target-input, #search, .inputs label {
  outline: none;
  border: none;
  border-bottom-color: #e6e6e6;
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-left-radius: 2pt;
}

.action-button, .add-button, .edit-button {
  cursor: pointer;
  height: 5%;
  width: 40%;
  margin: 10px auto;
  transition: all 0.2s;
  text-align: center;
  border: none;
  color: black;
  display: block;
}

#target-overlay {
  transition: transform 0.5s ease-out;
  transform: scale(0);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

#new-target-container {
  width: 50vw;
  margin: 15% auto;
  opacity: 1 !important;
  background: #fff;
  text-align: center;
  height: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#new-target-container label {
  display: grid;
  grid-template-columns: 50% 50%;
}
#new-target-container label span {
  grid-column: 1;
  margin-left: 0;
}

#value-container {
  width: 60%;
  margin: auto;
}

#value-container {
  text-align: center;
}

.new-target-input {
  background: #fff;
  width: 35% !important;
  grid-column: 2;
}

.nt-description {
  border-color: #e6e6e6;
  border-style: solid;
  border-width: medium;
  border-radius: 2pt;
}

.action-button {
  width: 25%;
  color: white;
  background: black;
  height: 15%;
}

.action-button:hover {
  color: black;
  background: white;
  border: solid;
  border-width: thin;
}

.options {
  width: 8vw;
  background: #fff;
  height: auto;
  text-align: center;
}

.flyout-options {
  height: 10vh;
}

.flyout-option:hover {
  cursor: pointer;
  color: white;
  background: #44acff;
}

#high-priority-container {
  position: relative;
  grid-column: 1;
  width: 85%;
  height: 65%;
  background: #f2f2f2;
  overflow-y: auto;
  text-align: left;
  margin-top: 2em;
  margin-left: 1em;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: medium;
  border-radius: 8pt;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#high-priority-container h2 {
  font-size: 2em;
}
#high-priority-container h3 {
  padding-top: 10%;
  font-size: 1.1em;
  margin-left: 3px;
}
#high-priority-container h4 {
  font-size: 0.6em;
  margin-left: 3px;
}
#high-priority-container .high-priority-item {
  position: relative;
  background: #fff;
  height: 15%;
  margin: 2vh auto;
  width: 75%;
  transition: all 0.2s;
}
#high-priority-container .high-priority-item:hover {
  transform: scale(1.01);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#priority-container h2 {
  margin: 5%;
}

body {
  overflow: hidden;
}

#header {
  grid-row: 1;
  grid-column: 1/4;
  background: #4d4d4f;
  color: white;
}

#content {
  position: absolute;
  display: grid;
  grid-template-columns: 20vw 30vw auto 1px;
  grid-template-rows: 3vh auto 1px;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
